.layout-footer{
    text-align: center;
}
.layout-header-3{
 display: flex;
 justify-content: space-between;
  padding-bottom: 5px;
}
.layout-header-2{
    font-weight: bold;
    font-size: xx-large;
}
